video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.viewport-header {
    position: relative;
    /*height: 100%;*/
    /*text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;*/
}